<div id="<%= dom_id post %>" class="px-2">
  <p>
    <strong class="text-xl font-bold underline">Tilte:</strong>
    <%= post.tilte %>
  </p>

  <p>
    <strong class="text-green-600">Content:</strong>
    <%= post.content %>
  </p>

  <div class="flex justify-between">
    <div class="w-fit">
      <button class="btn btn--secondary">
        <%= link_to "Show this post" , post %>
      </button>
    </div>
    <%= button_to "Destroy this post" , @post, method: :delete, class: "btn btn--primary" %>
  </div>

</div>