<p style="color: green">
  <%= notice %>
</p>
<%= link_to "New post" , new_post_path %>

  <h1>Posts</h1>

  <div class="px-24">

    <%= render "search" %>

    <div id="posts">
      <% @posts.each do |post| %>
        <div id="<%= dom_id post %>" class="px-2 flex justify-between">
          <div>
            <p>
              <strong class="text-xl font-bold underline">Tilte:</strong>
              <%= post.title %>
            </p>
        
            <p>
              <strong class="text-green-600">Content:</strong>
              <%= post.content %>
            </p>
          </div>
          <div class="flex justify-between">
            <button class="btn btn--secondary mr-2">
              <%= link_to "Show this post" , post %>
            </button>
            <%= button_to "Destroy this post" , @post, method: :delete, class: "btn btn--primary" %>
          </div>
        
        </div>
      <% end %>
    </div>
    <%== pagy_nav(@pagy) %>
  </div>