<p style="color: green"><%= notice %></p>

<div class="flex my-4">
  <%= link_to "Back to posts", posts_path %> |
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<%= render @post %>

